body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: #2a6b30;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #2a6b30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #3c8f47;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #1e4620;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3c8f47;
}

/* Enhancements for form and article listing */
form input[type="checkbox"] + label {
    cursor: pointer;
}

/* Styling for article suggestions list */
ul.articles-list {
    margin-top: 20px;
    padding-left: 0;
}

ul.articles-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

ul.articles-list li:not(:last-child) {
    margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .article {
        flex-direction: column;
        margin-right: 10px; /* Adjust for smaller screens */
    }

    .post_thumbnail {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .article-content {
        flex-direction: column;
    }
}

/* Custom Checkbox Button Styles */
input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

input[type="checkbox"] + label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ddd; /* Default non-selected background */
    color: #333; /* Default text color */
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="checkbox"]:checked + label {
    background-color: #2a6b30; /* Background color for selected/toggled */
    color: white; /* Text color for selected/toggled */
}

input[type="checkbox"]:checked + label:hover,
input[type="checkbox"] + label:hover {
    background-color: #3c8f47; /* Darker green on hover */
}