body {
    font-family: 'Arial', sans-serif;
    background-color: white; 
    margin: 0;
    padding: 20px;
    color: #333; 
}
h1 {
    text-align: center;
    font-size: 36px;
    color: #2a6b30;
    margin-bottom: 50px;
}
.navbar-placeholder {
    height: 60px;
}
.article {
    position: relative; 
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    color: #333;
    border: 2px solid #a4d7a2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
}
.post_thumbnail {
    flex: 0 0 auto;
    width: 250px;
    height: 250px; 
    margin-right: 20px;
}
.article-content {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.article-title, .article-summary, .article-author {
    margin: 0;
}
.article-title {
    font-size: 24px;
    color: #1e4620;
    margin-bottom: 10px;
}
.article-summary, .article-author {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.button, .add-article-btn {
    padding: 5px 10px;
    background-color: #2a6b30;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    white-space: nowrap;
}
.button:hover, .add-article-btn:hover {
    background-color: #3c8f47;
}
.article-actions {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex; 
}
form {
    margin-bottom: 20px;
}
input[type="text"], select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
