body {
    font-family: 'Arial', sans-serif;
    background-color: white; /* Changed background to white */
    margin: 0;
    padding: 20px;
    color: #333; /* Changed text color for better contrast */
}
h1 {
    text-align: center;
    font-size: 36px;
    color: #2a6b30; /* Professional sober green */
    margin-bottom: 50px; /* Space for navbar */
}
.navbar-placeholder {
    height: 60px; /* Placeholder for navbar height */
}
.article {
    position: relative; /* Allows absolute positioning of children */
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    color: #333;
    border: 2px solid #a4d7a2; /* Smooth light green border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow for light theme */
    display: flex;
    align-items: flex-start; /* Align items at the start */
}
.post_thumbnail {
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 250px; /* Adjusted width */
    height: 250px; /* Adjusted height */
    margin-right: 20px; /* Space between image and text */
}
.article-content {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Distribute space */
}
.article-title, .article-summary, .article-author {
    margin: 0; /* Remove margin */
}
.article-title {
    font-size: 24px;
    color: #1e4620;
    margin-bottom: 10px; /* Adjusted space */
}
.article-summary, .article-author {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px; /* Adjusted space for consistency */
}
.button, .add-article-btn {
    padding: 5px 10px; /* Reduced padding */
    background-color: #2a6b30;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Space between buttons */
    white-space: nowrap; /* Prevent text wrapping */
}
.button:hover, .add-article-btn:hover {
    background-color: #3c8f47;
}
.article-actions {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex; /* Align buttons next to each other */
}
form {
    margin-bottom: 20px;
}
input[type="text"], select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
}
