<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contrat</title>
  <link rel="stylesheet" href="../assets/css/contrat.css">
</head>
<body>

    <div class="btn-container">
        <label class="switch btn-color-mode-switch">
            <input value="1" id="color_mode" name="color_mode" type="checkbox">
            <label class="btn-color-mode-switch-inner" data-off="CDD" data-on="CDI" for="color_mode"></label>
        </label>
    </div>
    

    
    
    <script src="../assets/contrat.js"></script>

    <div id="cddForm" class="form-container cdd" style="display: none;">
        <form class="form">
            <p class="title">Contrat à Durée Déterminée (CDD) </p>
            <p class="message">Remplissez le formulaire CDD.</p>
                <div class="flex">
                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>Firstname</span>
                    </label>
                    <br>
                    <label>
                        <input class="input" type="text" placeholder="" required="">
                        <span>Lastname</span>
                    </label>
                </div>  
                        
                <label>
                    <input class="input" type="email" placeholder="" required="">
                    <span>Email</span>
                </label> 
                    
                <label>
                    <input class="input" type="date" placeholder="" required="">
                    <span>Date debut</span>
                </label>
                <label>
                    <input class="input" type="date" placeholder="" required="">
                    <span>date fin</span>
                </label>
                <button class="submit">Submit</button>
        </form>
    </div>
    
    <div id="cdiForm" class="form-container cdi" style="display: none;">
        <form class="form">
            <p class="title">Contrat à Durée Indéterminée (CDI) </p>
            <p class="message">Remplissez le formulaire CDI.</p>
            <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Firstname</span>
                </label>
                <br>
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Lastname</span>
                </label>
            </div>  
                    
            <label>
                <input class="input" type="email" placeholder="" required="">
                <span>Email</span>
            </label> 
                
            <label>
                <input class="input" type="date" placeholder="" required="">
                <span>Date debut</span>
            </label>
            
            <button class="submit">Submit</button>
        </form>
    </div>


   

</body>
</html>
